@import "../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  background-image: url("../../images/camping_forest_night.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.logo {
  max-width: 200px;
}
